#if (!$util.isNull($context.result.cancellationReasons))
  $util.error("DynamoDB transaction error: " + $context.result.cancellationReasons);
#end

#if (!$util.isNull($context.error))
  $util.error("Failed to execute DynamoDB transaction: " + $context.error);
#end

true